{% extends 'base.html.twig' %}

{% block title %}Nous contacter - Art2pix{% endblock %}

{% block content %}
<h2>Nous contacter</h1>
<p>N'hésiter pas à prendre contact avec notre équipe, nous vous répondrons les meilleurs délais</p>
{% for message in app.flashes('notice') %}
    <div class="alert alert-info"> {{message}} </div>
{% endfor %}

<div class="row">
    <div class="col-md-8">
        {{form(form)}}
    </div>
    <div class="col-md-4">
        <strong>Art2pix</strong>
        <hr>
        06 10 20 30 40 <br>
        8 rue de Paris <br>
        75000 Paris <br>
        contact@Art2pix.fr

    </div>
</div>

{% endblock %}
